---
import Layout from '../layouts/Layout.astro';

const HEAD_CONTENT = {
  title: 'Iniciar sesión | Pablo Sierra - Desarrollador web',
  description: 'Panel de administración',
  focused: '',
};
---

<Layout {...HEAD_CONTENT}>
  <main class="flex flex-1 flex-col justify-center items-center"></main>
</Layout>
