---
import Layout from '../layouts/Layout.astro';

const HEAD_CONTENT = {
  title: 'Blog | Pablo Sierra - Desarrollador web',
  description:
    'Página principal del blog personal de Pablo Sierra, desarrollador de software con enfoque en big data y frontend moderno.',
  focused: 'blog',
};
---

<Layout {...HEAD_CONTENT}>
  <main class="flex flex-1 flex-col justify-center items-center"></main>
</Layout>
