---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import HEAD_CONTENT from '../data/index.json';
---

<Layout {...HEAD_CONTENT}>
  <main class="flex flex-1 flex-col justify-center items-center">
    <Hero />
  </main>
</Layout>
