---
import ProjectGrid from "../components/ProjectGrid.astro";
import Layout from "../layouts/Layout.astro";

export const prerender = true

const HEAD_CONTENT = {
  title: "Inicio | Pablo Sierra - Desarrollador web",
  description:
    "Bienvenido a la página personal de Pablo Sierra, desarrollador de software con enfoque en big data y frontend moderno.",
  focused: "proyectos",
};
---

<Layout {...HEAD_CONTENT}>
  <main class="flex flex-1 flex-col justify-center items-center">
    <ProjectGrid server:defer>
      <span slot="fallback" class="text-xl opacity-70">Cargando...</span>
    </ProjectGrid>
  </main>
</Layout>
