---
import Layout from "../layouts/Layout.astro";

const HEAD_CONTENT = {
  title: "Servicios | Pablo Sierra - Desarrollador web",
  description:
    "Bienvenido a la página personal de Pablo Sierra, desarrollador de software con enfoque en big data y frontend moderno.",
  focused: "servicios",
};
---

<Layout {...HEAD_CONTENT}>
  <main class="flex flex-1 flex-col justify-center items-center">
  </main>
</Layout>