---
import { Image } from "astro:assets";
import { slide } from "astro:transitions";

import avatarImg from "../assets/avatar.webp";
---

<section class="flex flex-col items-center" transition:animate={slide({ duration: "1s" })}>
  <div class="h-dvh md:w-auto lg:max-w-[1240px] bg-neutral-100 py-6 px-12 flex flex-col md:flex-row justify-between items-center gap-4">
    <div class="flex-1">
      <p class="text-4xl font-bold text-neutral-800 py-6">
        Desarrollo tecnología práctica para transformar <span class="text-blue-500">desafíos en
        oportunidades.</span>
      </p>
      <p class="min-h-32 text-lg text-neutral-700 font-semibold">
        <span
          id="typed"
          class="after:content-['|'] after:animate-blink after:ml-[2px]"
        >
        </span>
      </p>
      <div class="flex flex-row justify-center gap-2">
        <input
          type="email"
          placeholder="Tu dirección de email"
          class="px-4 py-2 rounded-md shadow bg-neutral-50 text-neutral-700 placeholder-neutral-500 focus:outline-none w-full sm:w-auto"
          required
        >
        </input>
        <a href="/" class="bg-blue-500 text-neutral-100 min-w-[150px] text-center px-6 py-2 font-bold rounded-md hover:bg-blue-300 hover:text-blue-500 ease-in-out duration-300">
          Contacta
        </a>
      </div>
    </div>
    <a
      href="https://github.com/sierrapablo"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Image
        src={avatarImg}
        alt="pfp"
        class="rounded-none shadow-lg"
        loading={"eager"}
      />
    </a>
  </div>

  <!-- Script para efecto tipeado -->
  <script>
    import { startTyping } from "../scripts/typewriter.js";
    startTyping();
  </script>
</section>
