---
import { Icon } from "astro-icon/components";

type SocialLink = {
  href: string;
  iconName: string;
  name: string;
};

const socialLinks: SocialLink[] = [
  {
    href: "https://github.com/sierrapablo",
    iconName: "fa7-brands:github",
    name: "GitHub",
  },
  {
    href: "https://instagram.com/itspabloagain",
    iconName: "fa7-brands:instagram",
    name: "Instagram",
  },
  {
    href: "https://x.com/slpslpsl",
    iconName: "fa7-brands:x-twitter",
    name: "X",
  }
];

const currentPath = Astro.url.pathname;
---

<nav class="bg-neutral-100 text-neutral-700 relative">
  <div
    class="max-w-screen-xl mx-auto px-4 flex items-center justify-between py-6 relative"
  >
    <!-- Icono a la izquierda -->
    <a
      aria-label="Inicio"
      href="/"
      class="font-semibold px-2 py-1 rounded-sm hover:text-blue-500 transition-colors duration-300 flex items-center"
    >
      <Icon name="mdi:menu" class="w-6 h-6 text-current" />
    </a>

    <!-- Enlaces centrados -->
    <ul class="absolute left-1/2 -translate-x-1/2 flex flex-row gap-4">
      <li>
        <a
          href="/"
          class={`font-semibold px-2 py-1 rounded-sm transition-colors duration-300 hover:text-blue-500 hover:bg-blue-200 ${
            currentPath === "/sobre-mi" ? "text-blue-500" : ""
          }`}
        >
          Sobre mí
        </a>
      </li>
      <li>
        <a
          href="/proyectos"
          class={`font-semibold px-2 py-1 rounded-sm transition-colors duration-300 hover:text-blue-500 hover:bg-blue-200 ${
            currentPath === "/proyectos" ? "text-blue-500" : ""
          }`}
        >
          Proyectos
        </a>
      </li>
      <li>
        <a
          href="/"
          class={`font-semibold px-2 py-1 rounded-sm transition-colors duration-300 hover:text-blue-500 hover:bg-blue-200 ${
            currentPath === "/servicios" ? "text-blue-500" : ""
          }`}
        >
          Servicios
        </a>
      </li>
      <li>
        <a
          href="/"
          class={`font-semibold px-2 py-1 rounded-sm transition-colors duration-300 hover:text-blue-500 hover:bg-blue-200 ${
            currentPath === "/contacto" ? "text-blue-500" : ""
          }`}
        >
          Contacto
        </a>
      </li>
    </ul>

    <!-- Enlaces a la derecha con Social -->
    <ul class="flex flex-row gap-4">
      {
        socialLinks.map((item) => (
          <a
            href={item.href}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={item.name}
            class="transition-all duration-300 hover:drop-shadow-[0_0_6px_white] text-neutral-700 hover:text-blue-500"
          >
            <Icon name={item.iconName} class="w-6 h-6" />
          </a>
        ))
      }
    </ul>
  </div>
</nav>
