---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";

interface LayoutProps {
  title: string;
  description: string;
  image?: ImageMetadata;
}

const { title, description, image } = Astro.props as LayoutProps;
---

<!doctype html>
<html lang="es">
  <BaseHead {title} {description} image={image} />
  <body class="bg-neutral-100">
    <slot />
  </body>
</html>
